</head>
<body>
<div class="-padded overlay-nav">
  <div class="container">
    <div class="brand">
      <a href="https://www.ticketbase.com"></a>
    </div>
    <ul class="links">
      <li>
        <a href="/events/new"><strong>Post</strong>
        <span>an Event</span>
        </a>
      </li>
    </ul>
    {%comment%}    
    <ul class="right links">
      <li>
        <a class="login-link" href="/users/sign_in">Login
        </a>
      </li>
    </ul>
    {%endcomment%}
  </div>
</div>

<div class="dev-portal-heading">
  <div class="container">
    <h1>Ticketbase Help Center</h1>
  </div>
</div>
