// Text
$black:    #505057; /* text black */
$blacker:  #3a3a3a; /* heading black */
$white:    #ffffff;

// Base colors
$offwhite: #d6e0e6; /* backgrounds */
$gray:     #788296; /* grey text */
$teal:     #3ebaa0;
$darkblue: #065F88;
$navy:     #2b5291;
$line:     $offwhite;

// Supplementary colors
$orange:   #f08c21;
$red:      #f22613; /* Errors */
$mint:     #6eb583;

/* Pastels */
$mosslite: #809ba5;
$clouds:   #e6f2f9;
$salmon1:  #e3bd97;
$salmon2:  #c5513e;

/* Metrics */
$pad:      20px;
