---
type: article
---
{% include head.html %}
{% include body.html %}

<div class="container">
  <div class="dev-portal-layout">

    <div class="menu">{% include category-sidebar.html %}</div>

    <div class="content">
      <div class="panel">
        <div class="page-heading -ruled">
          <h1>{{ page.title }}</h1>
        </div>
        <div class="article-format">

          {% if page.question %}
            <div class='question-box'>
              <strong>Question</strong>
              {{ page.question }}
            </div>
          {% endif %}
          {{ content }}

        </div>
      </div>
    </div>
  </div>
</div>

{% include end.html %}
